<ion-content>
  <ion-button size = "small" fill = "clear" color = "cream" (click) = "goBack()">
    Back
    <ion-icon name = "chevron-back-outline" slot = "start"></ion-icon>
  </ion-button>

  <ion-row class = "display-row">
    <ion-text class = "display-row" color = "cream">
      <h3>Forgot Password?</h3>
    </ion-text>
    <ion-item class = "display-row" no-lines color = "none" lines = "none">
      <img height = "150px" width = "150px" src = "../../assets/icon/password-reset-transparent.png">
    </ion-item>
    <ion-text class = "display-row" color = "cream">
      <p>That's okay! It happens to the best of us, just enter your email and you'll be sent a link to reset your password.</p>
    </ion-text>
  </ion-row>

  <div class = "input-group">
    <ion-item color = "cream">
      <ion-input type = "email" placeholder = "Email" [(ngModel)] = "userEmail">
      </ion-input>
    </ion-item>
  </div>

  <ion-button fill = "solid" expand = "block" color = "cream" (click) = "resetPassword()">
    Send Reset Link
  </ion-button>
</ion-content>
