<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Preferences
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Preferences</ion-title>
    </ion-toolbar>
  </ion-header>
  Bottom Text

  <ion-card *ngFor = "let item of preferenceList" color = "primary">
    <span *ngIf = "!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{ item.preferenceName }}</ion-card-title>
        <ion-card-subtitle>Coffee Type: {{ item.coffeeType }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ item.cityName }}, {{ item.countryName }}
        <ion-button shape = "round" color = "secondary" size = "small" (click) = "editPreference(item)">
          <ion-icon size = "small" slot = "icon-only" name = "create"></ion-icon>
        </ion-button>
        <ion-button shape = "round" color = "secondary" size = "small" (click) = "removePreference(item.id)">
          <ion-icon size = "small" slot = "icon-only" name = "trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill = "solid" color = "medium" size = "small" (click) = "item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill = "solid" color = "tertiary" size = "small" (click) = "updatePreference(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Preference Name</strong></ion-label>
          <ion-input type = "text" [(ngModel)] = "item.EditPreferenceName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Coffee Type</strong></ion-label>
          <ion-input type = "text" [(ngModel)] = "item.EditCoffee"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>City</strong></ion-label>
          <ion-input type = "text" [(ngModel)] = "item.EditCity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Country</strong></ion-label>
          <ion-input type = "text" [(ngModel)] = "item.EditCountry"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/preferences/make-preference" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
