<ion-header [translucent] = "true">
  <ion-toolbar color = "cream">
    <ion-title>
      Preferences
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] = "true">

  <ion-card *ngFor = "let item of preferenceList" color = "primaryred">
    <span *ngIf = "!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{ item.preferenceName }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          {{ item.coffeeType }}
        </ion-row>
        <ion-row>
          {{ item.cityName }}, {{ item.countryName }}
        </ion-row>

        <ion-row>
          <ion-button shape = "round" color = "cream" size = "small" (click) = "editPreference(item)">
            <ion-icon size = "small" slot = "icon-only" name = "create"></ion-icon>
          </ion-button>
          <ion-button shape = "round" color = "cream" size = "small" (click) = "removePreference(item.id)">
            <ion-icon size = "small" slot = "icon-only" name = "trash"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-button fill = "solid" color = "cream" size = "small" (click) = "item.isEdit = false">
                Cancel
              </ion-button>
              <ion-button fill = "solid" color = "cream" size = "small" (click) = "updatePreference(item)">
                Update
              </ion-button>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Preference Name</strong></ion-label>
          <ion-input type = "text" [(ngModel)] = "item.EditPreferenceName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Coffee Type</strong></ion-label>
          <ion-input type = "text" [(ngModel)] = "item.EditCoffee"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>City</strong></ion-label>
          <ion-input type = "text" [(ngModel)] = "item.EditCity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Country</strong></ion-label>
          <ion-input type = "text" [(ngModel)] = "item.EditCountry"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/preferences/make-preference" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
