<ion-header [translucent] = "true">
  <ion-toolbar color = "cream">
    <ion-title>
      Preferences
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor = "let item of preferenceList">
    <span *ngIf = "!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{ item.preferenceName }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          {{ item.coffeeType }}
        </ion-row>
        <ion-row>
          {{ item.cityName }}, {{ item.countryName }}
        </ion-row>

        <ion-row>
          <ion-button shape = "round" color = "dark" size = "small" (click) = "editPreference(item)">
            <ion-icon size = "small" slot = "icon-only" name = "create"></ion-icon>
          </ion-button>
          <ion-button shape = "round" color = "dark" size = "small" (click) = "removePreference(item.id)">
            <ion-icon size = "small" slot = "icon-only" name = "trash"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-button fill = "solid" color = "dark" size = "small" (click) = "item.isEdit = false">
                Cancel
              </ion-button>
              <ion-button fill = "solid" color = "dark" size = "small" (click) = "updatePreference(item)">
                Update
              </ion-button>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position = "floating"><strong>Preference Name</strong></ion-label>
          <ion-input type = "text" [(ngModel)] = "item.EditPreferenceName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position = "floating"><strong>Coffee Type</strong></ion-label>
          <ion-select placeholder = "Flat White" type = "text" [(ngModel)] = "item.EditCoffee">
            <ion-select-option value = "Cappuccino">Cappuccino</ion-select-option>
            <ion-select-option value = "Flat White">Flat White</ion-select-option>
            <ion-select-option value = "Latte">Latte</ion-select-option>
            <ion-select-option value = "Long Black">Long Black</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position = "floating"><strong>City</strong></ion-label>
          <ion-select placeholder = "Brisbane" type = "text" [(ngModel)] = "item.EditCity">
            <ion-select-option value = "Adelaide">Adelaide</ion-select-option>
            <ion-select-option value = "Brisbane">Brisbane</ion-select-option>
            <ion-select-option value = "Cairns">Cairns</ion-select-option>
            <ion-select-option value = "Canberra">Canberra</ion-select-option>
            <ion-select-option value = "Darwin">Darwin</ion-select-option>
            <ion-select-option value = "Hobart">Hobart</ion-select-option>
            <ion-select-option value = "Melbourne">Melbourne</ion-select-option>
            <ion-select-option value = "Perth">Perth</ion-select-option>
            <ion-select-option value = "Sydney">Sydney</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position = "floating"><strong>Country</strong></ion-label>
          <ion-select placeholder = "Australia" type = "text" [(ngModel)] = "item.EditCountry">
            <ion-select-option value = "Australia">Australia</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/preferences/make-preference" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
