<ion-header [translucent]="true">
  <ion-toolbar color = "light">
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset = 2.25 size = 12>
        <ion-item no-lines color = "none" lines = "none">
          <img height = "150px" width = "150px" src = "../../assets/icon/calculate-coffee-transparent.png">
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size = 12>
        <ion-item>
          <ion-label>Manual Entry</ion-label>
          <ion-toggle (ionChange) = "userSelectMethod($event)" [checked] = "isManual"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <span *ngIf = "isManual; else elseBlock">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position = "floating">Country</ion-label>
            <ion-select placeholder = "Australia" type = "text" [(ngModel)] = "countryName">
              <ion-select-option value = "Australia">Australia</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position = "floating">City</ion-label>
            <ion-select placeholder = "Sydney" type = "text" [(ngModel)] = "cityName">
              <ion-select-option value = "Adelaide">Adelaide</ion-select-option>
              <ion-select-option value = "Brisbane">Brisbane</ion-select-option>
              <ion-select-option value = "Cairns">Cairns</ion-select-option>
              <ion-select-option value = "Canberra">Canberra</ion-select-option>
              <ion-select-option value = "Darwin">Darwin</ion-select-option>
              <ion-select-option value = "Hobart">Hobart</ion-select-option>
              <ion-select-option value = "Melbourne">Melbourne</ion-select-option>
              <ion-select-option value = "Perth">Perth</ion-select-option>
              <ion-select-option value = "Sydney">Sydney</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position = "floating">Coffee Type</ion-label>
            <ion-select placeholder = "Flat White" type = "text" [(ngModel)] = "coffeeType">
              <ion-select-option value = "Cappuccino">Cappuccino</ion-select-option>
              <ion-select-option value = "Flat White">Flat White</ion-select-option>
              <ion-select-option value = "Latte">Latte</ion-select-option>
              <ion-select-option value = "Long Black">Long Black</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button fill = "solid" expand = "block" color = "dark" (click) = "calculatorSwitch()">
            Calculate
          </ion-button>
        </ion-col>
      </ion-row>
    </span>

    <ng-template #elseBlock>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position = "floating">Preference</ion-label>
            <ion-select placeholder = "Preference Name" type = "text" [(ngModel)] = "preferenceChosen"
              [selectedText] = "preferenceChosen">
              <ion-select-option *ngFor = "let preference of preferenceList; let i = index"
                [value] = "preference.preferenceName">
                  {{ preference.preferenceName }}
              </ion-select-option>
              <ion-select-option value = "None">None</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button fill = "solid" expand = "block" color = "dark" (click) = "calculatorSwitch()">
            Calculate
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>

</ion-content>
