<!-- Commented out header, left here for posterity in case changes are to be made.
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-row class = "display-row">
    <ion-item no-lines color = "none" lines = "none">
      <img height = "150px" width = "150px" src = "../../assets/icon/icon-transparent.png">
    </ion-item>
    <ion-text class = "display-row" color = "cream">
      <h1>is-my-coffee-cold</h1>
    </ion-text>
  </ion-row>

  <div class = "input-group">
    <ion-item color = "cream">
      <ion-input type = "email" placeholder = "Email" [(ngModel)] = "userEmail">
      </ion-input>
    </ion-item>
    <ion-item color = "cream">
      <ion-input type = "password" placeholder = "Password" [(ngModel)] = "password">
      </ion-input>
    </ion-item>
  </div>

  <ion-button fill = "clear" size = "small" expand = "block" color = "cream" (click) = "forgotPassword()">
    Forgot password?
  </ion-button>

  <ion-button fill = "solid" expand = "block" color = "cream" (click) = "login()">
    <ion-icon class = "icon-position" name = "mail" slot = "start"></ion-icon>
    Sign In
  </ion-button>
  <ion-button fill = "solid" expand = "block" color = "cream" (click) = "register()">
    <ion-icon class = "icon-position" name = "create" slot = "start"></ion-icon>
    Sign Up
  </ion-button>
</ion-content>