<!-- Commented out header, left here for posterity in case changes are to be made.
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-grid>

    <ion-row class = "display-row">
      <ion-col offset = 5 size = 12>
        <ion-item no-lines color = "none" lines = "none">
          <img src = "../../assets/icon/icon-transparent-cropped.png" class = "logo" alt = "Avatar">
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset = 2>
        <ion-text class = "display-row" color = "light">
          <h1>is-my-coffee-cold</h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <div class = "input-group">
      <ion-item color = "light">
        <ion-input type = "email" placeholder = "Email" [(ngModel)] = "userEmail">
        </ion-input>
      </ion-item>
      <ion-item color = "light">
        <ion-input type = "password" placeholder = "Password" [(ngModel)] = "password">
        </ion-input>
      </ion-item>
    </div>

    <ion-button fill = "clear" size = "small" expand = "block" color = "light" (click) = "forgotPassword()">
      Forgot password?
    </ion-button>

    <ion-button fill = "solid" expand = "block" color = "light" (click) = "login()">
      <ion-icon class = "icon-position" name = "mail" slot = "start"></ion-icon>
      Sign In
    </ion-button>
    <ion-button fill = "solid" expand = "block" color = "light" (click) = "register()">
      <ion-icon class = "icon-position" name = "create" slot = "start"></ion-icon>
      Sign Up
    </ion-button>
  </ion-grid>
</ion-content>