<ion-content>
  <img src = "../../../assets/icon/icon-transparent.png">
  <ion-text color = "dark">
    <h1>is-my-coffee-cold</h1>
  </ion-text>
  <form>
    <ion-item class = "input-group">
      <ion-label position = "floating">Email</ion-label>
      <ion-input type = "text" #email required></ion-input>
    </ion-item>
    <div *ngIf = "(email.dirty || email.touched) && email.errors" class = "errors">
      <span *ngIf = "email.errors?.required">Email is required</span>
      <span *ngIf = "email.errors?.email">Invalid email address</span>
    </div>

    <ion-item class = "input-group">
      <ion-label position = "floating">Password</ion-label>
      <ion-input type = "password" #password required></ion-input>
    </ion-item>
    <div *ngIf = "(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf = "password.errors?.required">Password is required</span>
      <span *ngIf = "password.errors?.minlength">Password needs to be at least 6 characters</span>
    </div>

    <ion-row>
      <ion-col>
      <ion-button color = "darkgreen" type = "submit" (click) = "logIn(email, password)" expand = "block">
        Login
      </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
         type = "submit"
         color = "primaryyellow"
         (click) = "authService.GoogleAuth()"
         expand = "block">
         <ion-icon name="logo-google" slot="start"></ion-icon>
           Login with Google
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-button type="button" expand="block" color="dark" fill="clear"><p>Don't have an account?</p>
    </ion-button>
  </form>
</ion-content>