<ion-content>
  <ion-slides pager = "true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color = "light">
        <img src = "../../../assets/icon/icon.png">
        <h1>Hello there!</h1>
        <p>Welcome to is-my-coffee-cold!</p>
        <ion-button (click) = "next()" fill = "solid" color = "dark">Next</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color = "light">
        <img src = "../../../assets/icon/icon.png">
        <h1>I'm here to help!</h1>
        <p>I can't wait to work with you!</p>
        <ion-button (click) = "start()" fill = "solid" color = "dark">Begin</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>