
<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
    <ion-button slot = "start">
      <ion-back-button defaultHref = "login"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class = "item item-input">
      <ion-label position = "floating">Username</ion-label>
      <ion-input type = "text" [(ngModel)] = "userEmail"></ion-input>
    </ion-item>
    <ion-item class = "item item-input">
      <ion-label position = "floating">Password</ion-label>
      <ion-input type = "password" [(ngModel)] = "password"></ion-input>
    </ion-item>
    <ion-item class = "item item-input">
      <ion-label position = "floating">Confirm Password</ion-label>
      <ion-input type = "password" [(ngModel)] = "cPassword"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button fill = "solid" expand = "block" color = "dark" (click) = "signUp()">Sign Up</ion-button>
</ion-content>
