<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-text class = "display-row" color = "dark">
      <p>
        It's great to have you with us! I'm only in alpha version right now, but check back in the future and I'm sure
        there will be more here for you to play with!
      </p>
    </ion-text>
  </ion-row>
  <ion-button fill = "solid" expand = "block" color = "dark" (click) = "logout()">
    Logout
  </ion-button>
</ion-content>
